.hidden{
    display:none;
}

#membre{
    display:none;
}
#connexion{
    display:none;
}
#acceuil_membre{
    display:none;
}
#page_membre{
    display:none;
}
.fa-shopping-cart{
    color:lightgray;
    height:100%;
    padding-top : 11px;
}
#panier{
    display:none;
}

#petiteImg{
    width:50px;
    height:65px;
}
.boite{
    display:flex;
    flex-direction:column;
}
.titrePrix{
    margin-left:auto;
}

#page_admin{
    display:none;
}

#control{
    display:none;
}

#enregistrerFilm{
    display:none;
    max-width:360px;
    margin:auto;
}

#modifier{
    display:none;
    max-width:360px;
    margin:auto;
}

#retirer{
    display:none;
    max-width:360px;
    margin:auto;
}

#modifier2{
    display:none;
    max-width:360px;
    margin:auto;
}

.flexColumnform{
    display:flex;
    flex-direction:column;
    margin:2em;
}
.flexRowform{
    display:flex;
    flex-direction: row;
    margin:2em;
    justify-content:space-between;
}

h4{
    text-align: center;
    margin-top:10px;
}
.X{
    margin-top:10px;
    background-color:aqua;
    padding:0.2em;
    margin:67px;
}

.center{
    margin-left:150px;
    margin-top:1.3em;
}
.fas{
    color:lightgray;
    height:100%;
    padding-top : 11px;
}
